.names__page {
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
  width: '100%';
  height: '100%';
  // background: '#000';
  border-bottom: 1px solid rgba(255,255,255,.2);
  // &__page {
  //     text-align: 'center';
  // }
}